<style>
        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
        }

        input[type="submit"] {
            background-color: #4caf50;
            color: #fff;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }

        ::placeholder {
            color: #999;
        }
    </style>

<form method="POST" action="/api/book_update">
<input type="text" name="isbn" placeholder="Enter ISBN">
<input type="text" name="title" placeholder="Enter Title">
<input type="text" name="img_link" placeholder="Enter Image Link">
<input type="text" name="category" placeholder="Enter Category">
<input type="text" name="inventory" placeholder="Enter Inventory">
<input type="text" name="author" placeholder="Enter Author">
<input type="submit">
  </form>